
* {
    box-sizing: border-box;
    margin: 0px auto;
    padding: 0px;
}

header{
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    height: fit-content;
    justify-content: space-between;
    padding: 14px 16px;
    width: 100%;
}

header .brand{
    flex-grow: 0;
    width: fit-content;
}

header .brand a{
    background-image: url("logoislgrande.jpg");
    background-position: left center;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    height: 80px;
    width: 200px;
}

header .navigation {
    align-items: center;
    display: flex;
    flex-grow: 0;
    justify-content: flex-end;
    width: 100%;
}

header .navigation ul{
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 15px;
    list-style: none;
    margin: 0px;
    padding: 0px;

}
header .navigation li{
    display: block;
    background-color: white;
    color: rgb(56,54,53);
    font-size: 20px;
    padding: 14px 16px;
    font-family: arial, helvetica, sans-serif;

}

header .navigation a{
  text-align: center;
  text-decoration: none;
  color: rgb(56,54,53);
}

.hlistlink:hover{
    border-bottom: 3px solid rgb(1,129,200);
    text-shadow: 1px 1px 5px rgb(200,200,200);
}

.vidcont{
    height: 600px;
    overflow: hidden;
    position: relative;
  }

.vidcont video{
    margin-top: -200px;
    z-index: 1;
    position: absolute;
}

.vidcont h1{
    z-index: 2;
    width:100%;
    position: absolute;
    text-align: center;
    top: 20px;
    color: rgb(50,50,50);
    font-family: "Fira Sans", sans-serif;
    font-size: 60px;
    letter-spacing: 3px;

}

.vidcont h3 {
  z-index: 2;
  width:100%;
  position: absolute;
  text-align: center;
  top: 100px;
  color: rgb(50,50,50);
  font-family: "Fira Sans", sans-serif;
  font-size: 30px;
  text-transform: uppercase;

}

.butcont {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 150px;
  z-index: 3;

}

.butcont button{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
  padding: 14px 16px;


}
