
* {
    box-sizing: border-box;
    margin: 0px auto;
    padding: 0px;
}

header{
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    height: fit-content;
    justify-content: space-between;
    padding: 14px 16px;
    width: 100%;
    overflow: hidden;
    position: fixed;
    top:0;
    z-index: 4;
    background-color: white;
}

header .brand{
    flex-grow: 0;
    width: fit-content;
}

header .brand a{
    background-image: url("logoislgrande.jpg");
    background-position: left center;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    height: 80px;
    width: 200px;
}

header .navigation {
    align-items: center;
    display: flex;
    flex-grow: 0;
    justify-content: flex-end;
    width: 100%;
}

header .navigation ul{
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 15px;
    list-style: none;
    margin: 0px;
    padding: 0px;

}
header .navigation li{
    display: block;
    background-color: white;
    color: rgb(56,54,53);
    font-size: 22px;
    padding: 14px 16px;
    font-family: "Fira Sans", helvetica, sans-serif;

}

header .navigation a{
  text-align: center;
  text-decoration: none;
  color: rgb(56,54,53);
}

.hlistlink:hover{
    border-bottom: 3px solid rgb(1,129,200);
    text-shadow: 1px 1px 5px rgb(200,200,200);
}

.vidcont{
    height: 600px;
    overflow: hidden;
    position: relative;
    margin-top: 100px;
  }

.vidcont video{
    margin-top: -200px;
    z-index: 1;
    position: absolute;
}

.vidcont h1{
    z-index: 2;
    width:100%;
    position: absolute;
    text-align: center;
    top: 20px;
    color: rgb(50,50,50);
    font-family: "Fira Sans", sans-serif;
    font-size: 60px;
    letter-spacing: 3px;

}

.vidcont h3 {
  z-index: 2;
  width:100%;
  position: absolute;
  text-align: center;
  top: 100px;
  color: rgb(50,50,50);
  font-family: "Fira Sans", sans-serif;
  font-size: 30px;
  text-transform: uppercase;

}

.butcont {
  width: fit-content;
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;

}

.butcont a{
  display: block;
  width: 200px;
  text-align: center;
  justify-content: center;
  flex-grow: 0;
  z-index: 4;
  padding: 25px 16px;
  border-radius: 5px;
  text-decoration: none;
  font-family: "Fira Sans", sans-serif;
  transition: 0.3s;




}

.quotebutton {
  background-color: rgba(49,89,42,1);
  border: 3px solid rgba(49,89,42,1);
  color: white;

}

.routebutton {
  background-color: rgba(29,49,126,1);
  border: 3px solid rgba(29,49,126,1);
  color: white;

}
.quotebutton:hover {
  background-color: rgba(49,89,42,0.7);
  text-shadow: 1px 1px 5px rgb(0,0,0);
  transform: translateY(-5px);
}
.routebutton:hover {
  background-color: rgba(29,49,126,0.7);
  text-shadow: 1px 1px 5px rgb(0,0,0);
  transform: translateY(-5px);
}

h2 {
  font-size: 60px;
  font-family: "Fira Sans", sans-serif;
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 15px;
  letter-spacing: 1px;

}

.aboutuscont p {
  font-size: 20px;
  font-family: "Fira Sans", sans-serif;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  text-indent: 10%;
  margin-bottom: 50px;

}

.fixedincind {
  background-image: url("divindinc.jpeg");
  min-height: 400px;
  width: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.flexservicecont {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 400px;
  padding: 0px;
  margin: 0px;
  gap: 0px;
}

.srvcont {
  display: flex;
  flex-wrap: wrap;
  /*max-height: 100%;*/

  max-width: 25%;
  padding: 0px;
  margin: 0px;
  gap: 0px;
  position: relative;

}

.srvcont a {
  display: flex;
  object-fit: fill;
  justify-content: center;
}

.srvcont img {
  object-fit: cover;
  display: block;
  width: 100%;
  height:100%;
  transition: 0.3s;
}
.srvcont div{
  display: none;
  position: absolute;
  width: 50%;
  height: 100%;
  top: 100px;
  margin: 0px 25%;
  justify-content: center;

}
.srvcont p {
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-size:50px;
  font-weight: 600;
  text-shadow: 2px 2px 5px rgb(50,50,50);
  font-family: "Fira Sans", helvetica, sans-serif;
  text-indent: 0px;
  margin-top: 0px;
  margin-left: 0px

}

.srvcont:hover div{
  display: flex;

}

.srvcont:hover img{
  opacity: 0.5;
}

.fixedinnovador {
  margin-top: 70px;
  background-image: url("innovador1.jpg");
  min-height: 400px;
  width: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
